<p id="notice"><%= notice %></p>

<h1>Businesses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.name %></td>
        <td><%= business.description %></td>
        <td><%= business.email %></td>
        <td><%= image_tag business.logo.thumb %></td>
        <td><%= link_to 'Ver más', business %></td>
        <td><%= link_to 'Editar', edit_business_path(business) if can? :update, business %></td>
        <td><%= link_to 'Eliminar', business if can? :delete, business, method: :delete, data: { confirm: 'El Negocio será eliminado' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Negocio', new_business_path if can? :create, Business %>
