<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @business.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @business.email %>
</p>

<% @products.each do |product| %>
	<div class="col-md-3">
    	<div class="thumbnail">
        	<%= product.name %>
        	<%= product.description %>
        	<%= product.price %>
        	<%= image_tag(product.photo.thumb, :class => 'img-responsive')%>
    	</div>
  	</div>
<% end %> 

<%= link_to 'Editar', edit_business_path(@business) if can? :update, @business %>
<%= link_to 'Volver', businesses_path %>
</div>
