<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @business.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @business.email %>
</p>

<%= link_to 'Editar', edit_business_path(@business) if can? :update, @business %> |
<%= link_to 'Volver', businesses_path %>
