<tr id= "<%= product.id%>"> 
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= product.business.name %></td>
        <td><%= image_tag product.photo.thumb %></td>
        <td><%= link_to 'Ver más', business_product_path('business_id', 'id'), :class => 'btn' %></td> 
        <td><%= link_to 'Editar', edit_business_product_path(product) if can? :update, @product, :class => 'btn' %></td>
        <td><%= link_to 'Eliminar', product if can? :delete, @product, method: :delete, data: { confirm: 'El Producto será eliminado' }, :class => 'btn' %></td>
</tr>
    