<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Business</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= product.business.name %></td>
        <td><%= link_to 'Ver más', product %></td>
        <td><%= link_to 'Editar', edit_product_path(product) if can? :update, product %></td>
        <td><%= link_to 'Eliminar', product if can? :delete, product, method: :delete, data: { confirm: 'El Producto será eliminado' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Producto', new_product_path if can? :create, Product %>
